{% extends 'base.html' %}

{% block title %}Transaction List{% endblock %}

{% block content %}
<div class="container mt-5">
{% extends 'base.html' %}

{% block title %}Transaction_list{% endblock %}

{% block content %}
<div class="container mt-5">
{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Transactions</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Wallet</th>
                <th>Amount</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.wallet.owner }}</td>
                <td>{{ transaction.amount }}</td>
                <td>{{ transaction.created_at }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
</div>
{% endblock %}
</div>
{% endblock %}
