{% extends 'base.html' %}

{% block title %}Wallet List{% endblock %}

{% block content %}
<div class="container mt-5">
{% extends 'base.html' %}

{% block title %}Wallet_list{% endblock %}

{% block content %}
<div class="container mt-5">
{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Wallets</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Owner</th>
                <th>Balance</th>
            </tr>
        </thead>
        <tbody>
            {% for wallet in wallets %}
            <tr>
                <td>{{ wallet.owner }}</td>
                <td>{{ wallet.balance }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
</div>
{% endblock %}
</div>
{% endblock %}
